body {
    padding: 20px;
    font-family: Verdana;
}

div {
    margin: 0.8em;
}

.noise-intervals {
    border: solid;
    border-width: 3px;
    border-radius: 10px;
}

.interval {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.active-interval {
    background-color: rgb(139, 247, 89);
}
.inactive-interval {
    background-color: rgb(218, 216, 216);
}

.sound div {
    padding: 5px 10px;
}

/*.audio-controls img {
    width: 20px;
    height: 20px;
}*/

.play-everyXminutes {
    display: flex;
    justify-content: flex-start;
}

.play-intervals {
    display: none;
}

#player-log {
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    background-color: beige;
    padding: 10px;
    border: 5px;
    border-radius: 10px;
    margin: 10px;
    overflow-y: scroll;
    height: 200px;
}

.bold-red-text {
    font-weight: bold;
    color: darkred;
}


